<main class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h2 class="title">Edit Task</h2>
        <!--  Form -->
        <%= form_with model: @task do |form| %>
          <%= render partial: 'form', locals: { form: form, edit: true } %>
        <% end %>

      </div>
    </div>
  </div>
</main>
