<main class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h2 class="title">Edit Task</h2>
        <!--  Form -->
        <%= render partial: 'form', locals: { task: @task, edit: true } %>
      </div>
    </div>
  </div>
</main>
